{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    },{
      "rootPathPrefix": "#",
      "rootPathSuffix": "test"
    }]],
    "transform-object-rest-spread"
  ]
}